.top_bar_main{
    background-color: #64b9ea;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem;
    border-radius: 0rem;
    color: #fff;
    font-size: 2rem;
}

.top_bar_main button {
    background-color: #051c48;
    color: #fff;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    padding: 0.8rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}   

