.main_user {
  background-color: #64b9ea;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  .user_icon {
    display: flex;
    flex-direction: column;
    align-items: center;

    > div {
      margin-top: 0.8rem;
    }
    .user_modify_icons {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      width: 100%;
    }
  }
  .user_name {
    font-size: 1rem;
    margin-top: 0.3rem;
  }
}

.selectedUser {
  border: 10px solid #f0f0f0;
  padding: 1rem;
  position: sticky;
} 

.adminCard {
  background-color: #64dcd2;
}

.main_user.hover-color-change:hover {
  background-color: lightgray;
  transition: ease-in-out;
}

