<div
  class="main_user" appHover
  [ngClass]="{
    selectedCard: selectedUser?.id === user.id,
    selectedUser: selectedUser?.id === user.id,
    adminCard: user.type === 'Admin'
  }"
>
  <div class="user_icon">
    <img src="{{ user.image }}" height="50px" width="50px" />
    <div>
      <p class="user_name">Name: {{ user.name }}</p>
      <!-- <p class="user_name">Email: {{ user.email }}</p> -->
      <!-- <p class="user_name">Designation: {{ user.designation }}</p> -->
      <p class="user_name">Date: {{ user.date | date : "dd/MM/yyyy" }}</p>
      <p class="user_name">Role: {{ user.type }}</p>
      <p class="user_name">
        Height: {{ user.height * 0.0254 | number : "1.2-2" }} m
      </p>
      <p class="user_name">Contact: {{ user.contact | contact: user.countryCode }}</p>

    </div>
    <div class="user_modify_icons">
      <ng-icon
        *ngIf="user.type === 'Admin'"
        (click)="selectUser(user)"
        name="featherEdit"
        color="#fff"
        size="25"
      ></ng-icon>
      <ng-icon
        *ngIf="user.type === 'User'"
        (click)="deleteUser(user)"
        name="matDelete"
        color="#fff"
        size="25"
      ></ng-icon>
    </div>
  </div>
</div>
