<div class="main">
  <div class="main_sidebar_topbar">
    <div class="sidebar_div">
      <app-sidebar
        [users]="users"
        [selectedUser]="selectedUser"
        (userSelected)="onUserSelected($event)"
        (userSelectedDelete)="onUserSelectedDelete($event)"
        ><div class="sidebar_profiles">
          <p>Users</p>
        </div>
        
      </app-sidebar>
    </div>

    <div class="topbar_div">
      <app-topbar (addFormEvent)="handleAddFormEvent($event)"
        >Total Users - {{ users.length }}</app-topbar
      >
      <div>
        <app-user-item
          (addUserEvent)="addUser($event)"
          [user]="selectedUser"
          (deleteUserEvent)="deleteUser($event)"
          (updateUserEvent)="updateUser($event)"
          [isFormRendered]="isFormRendered"
        ></app-user-item>
      </div>
    </div>
  </div>
</div>
