.main {
  display: flex;
  flex-direction: column;
  .main_sidebar_topbar {
    display: flex;
    flex-direction: row;
  }
  .sidebar_div {
    background-color: #051c48;
    width: 15vw;
    height: 100vh;
    z-index: 1;
    overflow: scroll;
  }

  .topbar_div {
    width: 100vw;
    z-index: 1;
  }
}

.sidebar_profiles {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.3rem;
  color: #fff;
  font-size: 2rem;
}

