.main_sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar_profiles {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.3rem;
  color: #fff;
  font-size: 2rem;
}

.sidebar_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.sidebar_input input {
  padding: 0.7rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem; 
  width: 13rem;
  margin-top: 0.5rem; 
}

.sidebar_user {
  padding-top: 0.5rem;
  overflow-y: auto; /* Allow scrolling within this div */
}
