<div class="main_sidebar">
  <ng-content></ng-content>

  <div class="sidebar_input">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search..." />
  </div>
  <div *ngFor="let user of users | search : searchTerm" class="sidebar_user">
    <app-user
      [selectedUser]="selectedUser"
      [user]="user"
      (userSelected)="onUserSelected($event)"
      (userSelectedDelete)="onUserSelectedDelete($event)"
    ></app-user>
  </div>
</div>
