.user_item_main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

.modify_buttons{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 1rem;

  button{
    margin-right: 1rem;
  }
}

.user_item_form_main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  img {
    border-radius: 50%;
    box-shadow: 0px 0px 0.63rem rgba(0, 0, 0, 0.2);
    margin: 0.31rem;
  }
}

.user_item_form {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.user_item_form label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.user_item_form input  {
  padding: 0.5rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem; 
  width: 16rem;
  margin-top: 0.5rem; 
  margin-left: 1rem;
}

.user_item_form select  {
  padding: 0.5rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem; 
  width: 16rem;
  margin-top: 0.5rem; 
  margin-left: 1rem;
}

.text_danger{
  color: red;
}

.submit_button,
button {
  padding: 0.63rem 1.25rem;
  background-color: #051c48;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}

.submit_button:hover {
  background-color: #64b9ea;
  border: none;
}

button:hover {
  background-color: #64b9ea;
  border: none;

}

