<div class="user_item_main">
  <div class="modify_buttons" *ngIf="user">
    <button *ngIf="!isEditMode && user" (click)="toggleEditMode()">Edit</button>
    <button *ngIf="isEditMode && user" (click)="deleteUser()">Delete</button>
    <button *ngIf="isEditMode && user" (click)="updateUser()">Save</button>
  </div>
  <div *ngIf="isFormRendered || user" class="user_item_form_main">
    <div>
      <img
        src="https://cdn.iconscout.com/icon/free/png-256/free-laptop-user-1-1179329.png?f=webp"
        height="300"
        width="300"
        alt="user_icon"
      />
    </div>
    <div>
      <div class="user_item_form">
        <label for="name">Name: </label>
        <input
          class="form_control"
          id="name"
          type="text"
          [(ngModel)]="name"
          [readonly]="!isEditMode"
        />
        <div *ngIf="nameError" class="text_danger">{{ nameError }}</div>
      </div>
      <div class="user_item_form">
        <label for="id">Email: </label>
        <input
          class="form_control"
          id="id"
          type="email"
          [(ngModel)]="email"
          [readonly]="!isEditMode"
        />
        <div *ngIf="emailError" class="text_danger">{{ emailError }}</div>
      </div>
      <div class="user_item_form">
        <label for="designation">Designation: </label>
        <input
          class="form_control"
          id="designation"
          type="text"
          [(ngModel)]="designation"
          [readonly]="!isEditMode"
        />
        <div *ngIf="designationError" class="text_danger">
          {{ designationError }}
        </div>
      </div>

      <div class="user_item_form">
        <label for="height">Height: (inches)</label>
        <input
          class="form_control"
          id="height"
          type="number"
          [(ngModel)]="height"
          [readonly]="!isEditMode"
        />
        <div *ngIf="heightError" class="text_danger">
          {{ heightError }}
        </div>
      </div>
      <div class="user_item_form">
        <label for="date">Date: </label>
        <input
          class="form_control"
          id="date"
          type="date"
          [(ngModel)]="date"
          [readonly]="!isEditMode"
        />
        <div *ngIf="dateError" class="text_danger">{{ dateError }}</div>
      </div>

      <div class="user_item_form">
        <label for="role">Role: </label>
        <select
          class="form_control"
          id="type"
          [(ngModel)]="type"
          [disabled]="!isEditMode"
        >
          <option value="User">User</option>
          <option value="Admin">Admin</option>
        </select>
        <div *ngIf="typeError" class="text_danger">{{ typeError }}</div>
      </div>
      <div class="user_item_form">
        <label for="countryCode">Country Code: </label>
        <select
          class="form_control"
          id="countryCode"
          [(ngModel)]="countryCode"
          [disabled]="!isEditMode"
        >
          <option
            *ngFor="let countryItem of country"
            [value]="countryItem.dial_code"
          >
            {{ countryItem.code }}
          </option>
        </select>
        <div *ngIf="countryCodeError" class="text_danger">
          {{ countryCodeError }}
        </div>
      </div>

      <div class="user_item_form">
        <label for="countryCode">Contact: </label>
        <input
          class="form_control"
          id="contact"
          type="number"
          [(ngModel)]="contact"
          [readonly]="!isEditMode"
        />
        <div *ngIf="contactError" class="text_danger">{{ contactError }}</div>
      </div>

      <div *ngIf="!user">
        <button type="button" class="submit_button" (click)="addUser()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
